.CurrentFortune {
    width: 40%;
    height: 250px;
    border-radius: 7px;
    background-color: rgba(132, 147, 189, 0.5);
    display: flex;
    flex-flow: column nowrap;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; */
    margin: 50px auto;
    /* box-shadow: rgba(46, 46, 46, .7) 7px 7px 20px 1px; */
}

.horoscopeHeader {
    /* display: flex; */
    /* flex-flow: column nowrap; */
    flex-flow: row;
    font-size: 27px;
    color: rgb(203, 239, 253);
}

.horoscopeText {
    display: flex;
    /* flex-flow: column nowrap; */
    /* flex-flow: row; */
    justify-content: center;
    font-size: 15px;
    color: rgb(203, 239, 253);
}