.LoginPage {
  width: 270px;
  height: 250px;
  border-radius: 7px;
  background-color: rgba(132, 147, 189, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-shadow: rgb(46, 46, 46) 7px 7px 20px 1px;
}

.NavBar-welcome {
  color: grey;
}