.SignupPopoup {
  background-color: rgba(132, 147, 189, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.NavBar-welcome {
  color: grey;
  /* font-style: bold; */
}

div {
  /* border: 1px solid grey; */
  margin: 5px;
  padding: 5px;
}

p {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 3px;
    border-radius: 5px;
    /* background-color: azure; */
    text-align: center;
    /* color: coral; */
    font-weight: 500;
    font-size: 20px;
}